<div class="container">
  	<div class="page-header">
      	<h1>Welcome</h1>
  	</div>
  	<p class="lead">Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "create account", new_user_registration_path %> to start using PersonalFinance Demo</p>
</div>